<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="spacer"></div>
    <nav class="bottom-nav" aria-label="Primary">
        <a href="{% url 'level' %}">Level Page</a>
        <a href="{% url 'practice' %}">Practice Page</a>
        <a href="{% url 'home' %}">Home Page</a>
        <a href="{% url 'dictionary' %}">Dictionary Page</a>
        <a href="{% url 'profile' %}">Profile</a>
    </nav>
</body>
</html>
