<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <main>
        <h1>Profile Page</h1>
        <p>This is the Profile page.</p>
    </main>
    <nav class="bottom-nav" aria-label="Primary">
        <a href="{% url 'level' %}">Level Page</a>
        <a href="{% url 'practice' %}">Practice Page</a>
        <a href="{% url 'home' %}">Home Page</a>
        <a href="{% url 'dictionary' %}">Dictionary Page</a>
        <a href="{% url 'profile' %}">Profile</a>
    </nav>
</body>
</html>
